---
---

@import "variables";
@import "bootstrap";
@import "fontawesome/font-awesome";
@import "bourbon/bourbon";

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);

body {
  font-size: 16px;
  font-family: 'Oxygen', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: $light-purple;
  @include radial-gradient(circle at 50% 0px, $light-purple, $dark-purple 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.profile-card {
  margin-top: 30%;
  @include clearfix;
}

.profile-left, .profile-body {
  display: table-cell;
  vertical-align: top;
}

.profile-left {
  padding-right: 2em;
}

.profile-image {
  float: left;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.1)
}

.profile-body {
  color: #FFF;
  min-height: 200px;
  border-left: 1px solid #CCC;
  padding-left: 2em;
  vertical-align: middle;

  h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 400;
  }

  h2 {
    font-size: 24px;
    font-weight: 300;
  }
}

.social-links {
  margin: 1em 0;
  padding: 0;

  li {
    float: left;
    list-style: none;
    margin-right: 1em;
  }

  a {
    color: #FFF;
    display: block;
    border-radius: 50%;
    font-size: 24px;
    border: 1px solid #FFF;
    padding: 8px 15px;

    &:hover {
      color: $light-purple;
      background-color: #FFF;
      border-color: $light-purple;
    }
  }
}
